.footer {
    background: #000000;
    text-align: center;
    width: 107%;
}

.footer__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FEFEFE;
    padding-top: 65px;
}
.footer__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    padding-top: 22px;
}
.footer_img{
    padding-top: 35px;
}

.footer__contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    padding-top: 35px;
    padding-bottom: 55px;
}

@media (max-width: 767px) {
    .footer {
        width: 136%;
    }
}

@media (max-width: 320px) {
    .footer {
        width: 158%;
    }
}