body {
    font-family: 'Roboto' sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    margin: 0 auto;
}

.header__nav {
    // text-align: center;
}

.header__item {
    display:flex;
    justify-content:center;
    padding-top: 45px;   
}

.header__list {
    margin-right: 65px;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 3;
&:hover{
    color: #57A4A4;
    }
}

.header__img {
    text-align: center;
    padding-top: 50px;
    margin: 0px -25px 0px 25px;
}

.header-img {}

.header__btn {
    display: none;
}



@media (max-width: 767px) {

    .header__btn {
        display: block;
        position: relative;
        width: 44px;
        height: 37px;
        margin-top: 23px;
        border: 1px solid #000000;
        background: #000000;
        margin-left: auto;
        margin-right: -100px;
    }

    .header__btn span {
        position: absolute;
        background-color: #fff;
        left: 13px;
        width: 17px;
        height: 2px;
        top: 17px;
    }

    .header__btn:before,
    .header__btn::after {
        content: '';
        background-color: #ffff ;
        position: absolute;
        width: 17px;
        height: 2px;
        left: 13px;
    }
    .header__btn:before {
        top: 13px;
    }
    .header__btn::after {
        bottom: 14px;
    }

    .header__btn.active::before {
        transform: rotate(45deg);
        top: 17.5px;
    }

    .header__btn.active::after {
        transform: rotate(-45deg);
        bottom: 17.5px;
    }

    .header__btn.active span {
        transform: scale(0);
    }

    .header__nav {
        position: absolute;
        width: 182px;
        height: 200px;
        left: 1px;
        top: -100%;
        background: #F5F5F5;
        right: 0;
        margin-top: 62px;
        margin-left: auto;
        margin-right: -100px;

    }

    .header__nav.active {
        top: 0%;
    }

    .header__list {
        width: 170px;
        padding-left: 13px;
    }

    .header__list:hover {
        background: #E5E5E5;
    }

    .header__item  {
        display: block;
    }

    .header__img {}
    
    .header-img {
        max-width: 767px;
        padding-left: 75px;
    }
}

@media (max-width: 320px){

    .header-img {
        width: 320px;
        // margin: 0px 25px 0px 25px;
    } 

}