@mixin posts__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(320px));
}

@mixin item__block {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
}

@mixin date__block {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
}

@mixin text__block {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
}


.section {
    margin-left: 5px;
}

.section__posts {
    padding-left: 110px;
}

.section__item {
    @include posts__item;
    
}

.section__block {
    @include posts__item;
}

#block__item {
    padding-top: 25px;
}

#block-text,
#block-text-end {
    padding-top: 25px;
}

.section__content{
    width: 400px;
    padding-top: 15px;
    padding-left: 20px;
}

.section__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4E4E4E;
    padding-top: 65px;
    margin-right: 150px;
}

.content__item {
    @include item__block;
}

.content__date {
    @include date__block;
}

.content_text {
    @include text__block;
}

@media (max-width: 767px) {
    .section{
        margin-left: 75px;
    }

    .section__title {
        width: 100%;
    }

    .section__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section__block {
        display: block;
    }

    .section__content {
        width: 800px;
        padding-right: 50px;
    }

    .section__posts {
        padding-left: 25px;
    }
}

@media (max-width: 320px) {
    .section__title,
    .content__item {
        width: 100%;
    }

    .section__item {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section__content{
        margin-left: -20px;
    }

    .content_text,
    #block-text-end {
        display: none;
    }
}