.instagram {
    background:rgb(0,0,0,0.03);
    margin-top: 70px;
    padding-left: 25px;
    width: 105%;
}

.instagram__title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding:  35px 85px 0px 85px ;
}

.instagram__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4E4E4E;
}

.instagram__img {
    display: flex;
    margin-top: 25px;
    margin-left: 85px;
    max-width: 25%;
}

.instagram__img img {
    margin-bottom: 50px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .instagram {
        width: 133%;
    }

    .img__four {
        display: none;
    }

    .instagram__img {
        padding-left: 75px;
        margin-left: 5px;
    }
}

@media (max-width: 320px) {
    .instagram {
        padding-left: 25px;
        width: 150%;
    }

    .text,
    .img__second,
    .img__third {
        display: none;
    }

    .instagram__text {
        width: 100%;
        padding-right: 25px;
    }
}




